.o_boxed_footer {
    margin-top: 200px;
    white-space: nowrap;
    border-top: none;
    position: relative;
    ul {
        margin: 4px 0;
    }
}

// .important_container{
//     text-align: left; 
//     font-size: 0.9em;
//     position: absolute;
//     bottom: 100%;
//     z-index: 9999;
// }